.body{

    background-color: #ecec58;
    margin: 0;
    padding: 0;

}
.header{
    text-align: center;
}
#nv{
    background-color:#f5f5f5;
    color: honeydew;
    text-align: center;
    height: 40px;
}
.straight{
    display:flex;
    list-style-type: none;
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-size: 20px;
}
.spn{
    display: inline-block;
}
.intro{
    background-color: yellowgreen;
    display: inline-block;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 30px;
    padding: 20px;
    width: 600px;
    height: 300px;
    border-radius: 10px;

}
.asd{
    background-color:wheat;
    display: inline-block;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 500px;
    padding: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;

}
.artl{
    background-color: whitesmoke;
    display: inline-block;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 30px;
    padding: 20px;
    width: 600px;
    height: 250px;
    border-radius: 10px;

}
.footr{
    background-color: cornsilk;
    color: black;
    text-align: center;
    padding: 30px;
}
